### Documentation available at https://wodby.com/docs/stacks/drupal/local
### Changelog can be found at https://github.com/wodby/docker4drupal/releases
### Images tags format explained at https://github.com/wodby/docker4drupal#images-tags

### PROJECT SETTINGS

PROJECT_NAME=my_drupal7_project
PROJECT_BASE_URL=drupal7.docker.localhost
PROJECT_PORT=8000
DB_NAME=drupal
DB_USER=drupal
DB_PASSWORD=drupal
DB_ROOT_PASSWORD=password
DB_HOST=mysql
DB_PORT=3306
DB_DRIVER=mysql
INSTALL_ACCOUNT_NAME=superadmin
INSTALL_ACCOUNT_PASS=superadmin
INSTALL_ACCOUNT_MAIL=drupal@spiriit.com
ENVIRONMENT=dev

### Drupal version to install (see https://www.drupal.org/project/drupal/releases)
DRUPAL_VER=7.92

### --- Images version Docker ---
PHP_TAG=7.3-4.31.0
MYSQL_TAG=5.7.18
APACHE_TAG=2.4-4.7.1

### --- SOLR ---

SOLR_CONFIG_SET="search_api_solr_4.1.6"
#SOLR_CONFIG_SET="search_api_solr_4.0.1"
#SOLR_CONFIG_SET="search_api_solr_8.x-3.9"
#SOLR_CONFIG_SET="search_api_solr_8.x-3.2"
#SOLR_CONFIG_SET="search_api_solr_8.x-2.7"
#SOLR_CONFIG_SET="search_api_solr_8.x-1.2"
#SOLR_CONFIG_SET="search_api_solr_7.x-1.14"

SOLR_TAG=8-4.14.2
#SOLR_TAG=7-4.14.2
#SOLR_TAG=6-4.14.2
#SOLR_TAG=5-4.14.2

### --- ELASTICSEARCH ---

ELASTICSEARCH_TAG=7-5.15.5
#ELASTICSEARCH_TAG=6-5.15.5

### --- KIBANA ---

KIBANA_TAG=7-5.15.5
#KIBANA_TAG=6-5.15.5

### --- REDIS ---

REDIS_TAG=6-3.10.0
#REDIS_TAG=5-3.10.0

### --- NODE ---

NODE_TAG=16-dev-0.98.1
#NODE_TAG=14-dev-0.98.1
#NODE_TAG=12-dev-0.98.1

### --- VARNISH ---

VARNISH_TAG=6.0-4.7.9
#VARNISH_TAG=4.1-4.7.9

### --- POSTGRESQL ----

POSTGRES_TAG=14-1.24.0
#POSTGRES_TAG=13-1.24.0
#POSTGRES_TAG=12-1.24.0
#POSTGRES_TAG=11-1.24.0
#POSTGRES_TAG=10-1.24.0
#POSTGRES_TAG=9.6-1.24.0

### OTHERS

ADMINER_TAG=4-3.17.6
ATHENAPDF_TAG=2.16.0
DRUPAL_NODE_TAG=1.0-2.0.0
MEMCACHED_TAG=1-2.10.1
OPENSMTPD_TAG=6.0-1.10.4
RSYSLOG_TAG=latest
SELENIUM_CHROME_TAG=3.141
WEBGRIND_TAG=1-1.22.0
XHPROF_TAG=3.0.5
